.card {
    margin-left:20px;
    width: 272px;
    max-height: 640px;
    background: #DFE3E6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    h3 {
        margin: 0;
        font-weight: 800;
        font-size: 13px;
        padding-left: 13px;
        padding-top: 8px;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            cursor: pointer;
            margin-right: 10px;
        }
    }
}
.column_list {
    display: flex;
    align-items: flex-start;
    outline: none;
}
.task-list {
    width: 248px;
    height: auto;
    align-self: center;
    overflow: hidden;
}
.task-container {
    overflow: auto;
    width: 279px;
    max-height: 480px;
    outline: none;
    .pre_task {
        height: 10px;
    }
}
.task {
    width: 248px;
    color: #000000;
    outline: none;
    margin-bottom: 8px;
    min-height: 35px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    p {
        font-size: 13px;
      
        margin: 0;
        padding: 8px 12px;
    }
    img {
        margin-right: 20px;
        cursor: pointer;
    }
    &:hover {
        color: #FFFFFF;
        background: #C0C0C0;
    }
}
.delete {
    padding: 5px;
    &:hover {
        background: #C0C0C0;
    }
}
.close {
    padding: 5px;
    &:hover {
        background: #C0C0C0;
    }
}
.add-column {
    background: #DFE3E6;
    cursor: pointer;
    font-size: 13px;
    color: #6B808C;
    border-radius: 3px;
    height: 20px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 12px;
    img {
        padding-right: 8px;
    } 
    &:hover {
        background: #C0C0C0;
    }
}
.add-task {
    background: #DFE3E6;
    cursor: pointer;
    font-size: 13px;
    color: #6B808C;
    border-radius: 3px;
    height: 20px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 12px;
    img {
        padding-right: 8px;
    }
    &:hover {
        background: #C0C0C0;
    }
}
.input-task {
    align-self: center;
    height: 100px;
    padding-bottom: 12px;
    display: none;
}
.input_container {
    width: 248px;
    height: 54px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    margin-top: 8px;
}
.input {
    background: transparent;
    font-size: 13px;
    color: #000000;
    width: 230px;
    height: 38px;
    margin-left: 12px;
    outline: none;
    border: none;
    &::placeholder {
        color: #B8B9BB;
        margin-bottom: 30px;
    }
}
.task-button {
    cursor: pointer;
    width: 152px;
    height: 30px;
    outline: none;
    border: none;
    background: #39C071;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 800;
}
.button_container {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    img {
        cursor: pointer;
    }
}
.error_alert {
    align-self: center;
    width: 300px;
    height: 190px;
    background: #DFE3E6;
    display: none;
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 20;
    transform: translate(-50%);
    div {
        margin: 48px auto;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
#confirm_alert{
    display: none;
    p {
        text-align: center;
        margin: 50px auto;
    }
    div {
        flex-direction: row;
        justify-content: space-around;
        margin: 30px auto;
        height: 0%;
    }
    .task-button {
        width: 95px;
    }
}